.incorrect__pass{
    color:var(--error--color);
    font-weight: bold;
    margin-right:17rem;
}
.login__reset{
    align-self: flex-end;
    padding:0 1rem;
}

@media screen  and (max-width:475px){
    .incorrect__pass{
     margin-right:10rem;
    }
}
