*{
    box-sizing: border-box;
}
.header__items li:hover{
   background-color: transparent;
   color: var(--text-color);
}
.signup__box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width:27rem;
    height:32rem;
    background-color: white;
    margin: auto;
    margin-top:5rem;
    border-radius:5px;
    box-shadow:var(--box-shadow);
}
.fa-close{
    position: absolute;
    top:0.5rem;
    right:1rem;
}
.signup__box h3{
    font-size: 1.5rem;
    text-align: center;
     text-transform: uppercase;
}

.signup__box input{
    align-content: center;
    width:95%;
    padding: 0.8rem 2rem;
    border-radius:3px;
    margin:5px 0  0 8px ;
   border:1px solid var(--primary-color);
   color:var(--text--color)
}

.signup__inputs{
    padding-top:2rem;
}
 
.signup__logo{
    color: var(--primary-color);
    font-size:2rem;
    font-weight: bold;
   
}
input::placeholder{
    font-size:1rem;
    color:var(--primary-color);
    text-transform: uppercase;
}

.signup__box-sub{
    width: 100%;
    padding:2rem 1rem;
    color:var(--text--color);
    cursor: pointer;
}
.signup__box-sub h4{
    padding:0.7rem 0;
    text-align: center;
}
.sub__main{
    width:100%;
    text-align: center;
    background-color: var(--primary-color);
    color:var(--text-color);
    font-weight: bold;
    margin:1rem 0;
    border-radius: 5px;
}
.signup__box-sub h4:hover{
    color:var(--text-color);
    background-color: var(--primary-color);
    border-radius: 5px;
}
@media screen  and (max-width:475px){
    .signup__box{
        width:20rem;
        }
}